

<table border=1>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @topic.posts.sort! { |a,b| b.sort_order <=> a.sort_order }.each do |post| %>
  <tr>
    <td><%= post.name %></td>
    <td><%= post.content.size > 30 ? post.content[0..29]+"..." : post.content[0..29] %></td>
    <td><%= post.category %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%#= post.sort_order %></td>
  </tr>
<% end %>
</table>


<%= link_to 'New Post', new_post_path+"?topic_id=#{@topic.id.to_s}" %>
