

<table border=1>
  <tr>
    <td>Name</td>
    <td>Content</td>
    <td>Category</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

<% @topic.posts.sort! { |a,b| b.sort_order <=> a.sort_order }.each do |post| %>
  <tr>
    <td><%= post.name %></td>
    <td><%= post.content.size > 30 ? post.content[0..29]+"..." : post.content[0..29] %></td>
    <td><%= post.category %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%#= post.sort_order %></td>
    <!--td>
		<%#= form_tag "/posts/convert_to_topic" do %>
		<%#= hidden_field_tag "id", post.id %>
		<br><%#= submit_tag "Convert to Topic" %>
		<%# end %>
    </td-->
    
    
  </tr>
<% end %>
</table>


<%= link_to 'New Post', new_post_path+"?topic_id=#{@topic.id.to_s}" %>
