<!--breadcrumbs-->
	<% @topic.ancestors.each do |ancestor|%>
	 > <%=link_to ancestor, ancestor%> 
	<%end%>
	> <b><%= link_to @topic.to_s, topic_path(@topic) %> </b> 
<!--end breadcrumbs-->
<hr>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @topic.name %>
</p>



<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'New Child Topic', new_topic_path+"?parent_id=#{@topic.id.to_s}" %> |
<%= link_to 'New Post', new_post_path+"?topic_id=#{@topic.id.to_s}" %> |

<hr>

<b>Posts</b>
<br><%=render 'showposts'%>

<hr>

<b>Child Topics</b>
<br><%=render 'showchildren'%>

