<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_post_path(@post) %> | <%= link_to 'Back', @post.topic %>

<p>
  <b>Topic:</b>
  <%= link_to @post.topic, @post.topic %>
   <br><%=form_tag posts_move_path, :method => :post do%>
  Move to topic id: <%= text_field_tag :topic_id, "", size:1%>
  <%= hidden_field_tag "id", @post.id%>
  <%= submit_tag "Move", data: { confirm: 'Are you sure?' } %> (Current topic_id: <%=@post.topic_id%>)
 <%end%>
</p>

<p>
  <b>Name:</b>
  <%= @post.name %>
</p>

<p>
  <b>Content:</b>
  
  <table border=1><tr><td><%= simple_format(@post.content) %></td></tr></table>
</p>

<p>
  <b>Category:</b>
  <%= @post.category%>
</p>

<p>
  <b>Sort Order:</b>
  <%= @post.sort_order%>
</p>




<%= link_to 'Edit', edit_post_path(@post) %> | <%= link_to 'Back', @post.topic %>




<hr>
<b>Comments:</b>
<%= form_tag "/posts/add_new_comment" do %>
<%= hidden_field_tag "id", @post.id %>
<%= text_area_tag "comment[comment]", nil, {rows:5,cols:50} %>
<br><%= submit_tag "Post Comment" %>
<% end %>

<% @post.comments.each do |comment| %>
<p><%=comment.user%> says: <%=comment.comment%> (<%= link_to 'delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %>)</p>
<% end %>

<hr>
<b>Convert to Topic:</b>
<%= form_tag "/posts/convert_to_topic" do %>
<%= hidden_field_tag "id", @post.id %>
<br><%= submit_tag "Convert to Topic" %>
<% end %>