<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<p>
  <b>Type:</b>
  <%= @category.fortype%>
</p>

<p>
  <b>Sort Order:</b>
  <%= @category.sort_order%>
</p>


<p>
  <b>Is Default:</b>
  <%= @category.is_default%>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>

<hr>
<b>Listing topics</b>

<table>
  <tr>
    <th>Parent</th>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

<% @category.topics.each do |topic| %>
  <tr>
    <td><%= link_to topic.parent, topic.parent %></td>
    <td><%= link_to topic.name, topic %></td>
    <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
    <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<hr>

<b>Listing posts</b>

<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th>Topic</th>
    <th></th>
    <th></th>
  </tr>

<% @category.posts.each do |post| %>

  <tr>
    <td><%= link_to post.name, post %></td>
    <td><%= post.content[0..20]+"..." %></td>
    <td><%= link_to post.topic, post.topic %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
