<h1>
Jasper's Documentation 
</h1>

  <% #if signed_in? %>
<table width=100%>
<tr>
<td>

<%#= link_to "Home", static_pages_index_path %>
<%= link_to "Home", topic_path(Topic.find(1)) %>
|
<%= link_to "Topics", topics_path %>
|
<%= link_to "Posts", posts_path %>
|
<%= link_to "Categories", categories_path %>


</td>

</tr>
<table>

    <% #else %>
  <%#= link_to "Sign in", signin_path %>
  <% #end %>
  
<hr>
      <% flash.each do |key, value| %>
	      <% if value != notice %>
	      	<% if key == :error %>
    	      <div class="alert alert-<%= key %>"><font color=red><%= value %></font></div>
	        <% else %>
    	      <div class="alert alert-<%= key %>"><font color=green><%= value %></font></div>
	        <% end %>
	      <% end %>
      <% end %>
    
  